.checkoutProductList {
    display: flex;
    margin-top: 25px;
    max-width: 800px;
}

.checkoutProduct__info {
    padding-left: 20px;
}


.checkoutProduct__image {
    width: 180px;
    height: 180px;
    object-fit: contain;
}

.checkoutProductList__info > button {
    margin-top: 10px;
}