.hero {
    height: 450px;
    width: 100%;
    background-color: tomato;
    position: relative;
}

.hero__info {
    background-color: #fff;
    height: 95px;
    width: 75%;
    justify-items: center;
    position: absolute;
}